.parrafo{
    border: 3px solid black;
    text-align: center;
    margin: 3px;
    padding: 4px;
    color: blue;
    font-size: larger;
    font-weight: 150;
}

div {
    border: 6px solid blueviolet;
    color: cadetblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

span ul li {
    color: darkblue;
    font-style: oblique;
    font-weight: 210;
}

#boton{
    background-color: cornflowerblue;
    border: none;
    font-size: 9px;
    width: 150px;
    padding: 6px;
    color: crimson;
}

.link{
    color: darkcyan;
}

a:hover{
    color: darkgoldenrod;
}